.info{
  background: #efefef;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center; 
}
.info p{
  margin: 0px;  
}
.info h1{
  margin: 0px;
}
img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  }
.text p {
  margin: 10px;
}
.text h2 {
  margin: 10px;
}